= simple_form_for @user, :url => update_avatar_path, :html => { :multipart => true, :class => 'edit-user form-horizontal' } do |f|
  = f.input :nickname
  .form-actions
    = f.submit '更新', :class => 'btn-large btn-primary'
